.bundle
log/*.log
tmp/
.sass-cache/
.DS_Store

# Ignore claude private journal
.private-journal

# Ignore application configuration
config/application.yml
config/database.yml
keys/

# Ignore
script/scrape.rb
build.sh
deploy.sh
devdeploy.sh
db/data.yml
server.*
public/coverage
*.code-workspace
config/secrets/*
storage/*
