<h3>Budgets</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @budgets.each do |budget| %>
  <tr>
    <td><%= best_in_place budget, :name%></td>
    <td><%= best_in_place budget, :description%></td>
    <td><%= link_to 'Delete', budget_path(budget), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Budget', new_budget_path %>
