<h1>Welcome</h1>


You have <strong><%= link_to @transactions_expenses[0][:count], uncategorized_expenses_path %></strong> uncategorized expense transactions<br/>
with a total value of <strong>$<%= @transactions_expenses[0][:sum] %></strong>.
<br/>
<br/>
You have <strong><%= link_to @transactions_revenues[0][:count], uncategorized_incomes_path %></strong> uncategorized revenue transactions<br/>
with a total value of <strong>$<%= @transactions_revenues[0][:sum] %></strong>.
