<h1>Welcome</h1>


You have <strong><%= @transactions_expenses[0][:count] %></strong> uncategorized expenses<br/>
with a total value of <strong>$<%= @transactions_expenses[0][:sum] %></strong>.
<br/>
<br/>
You have <strong><%= @transactions_revenues[0][:count] %></strong> uncategorized expenses<br/>
with a total value of <strong>$<%= @transactions_revenues[0][:sum] %></strong>.
