<h3>Payments</h3>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'expenses/year_navigator' %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= will_paginate @transactions %>
		</div>
	</div>
</div>

<%= render partial: "transactions/typed_transaction_list", locals: {txType: 'payments'} %>