// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.infobox {
	font-size: 12px;
    position: absolute;
    width: 0px;
    padding: 0px;
    background-color: rgba(255,255,255,.75);
}