<h3>All Transactions</h3>

<div class="container">
  <div class="row">
      <div class="col-md-10">
          <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <div class="col-md-2">
        <%= link_to "View Uncategorized", uncategorized_expenses_path %>
      </div>
  </div>
</div>

<%= render "transaction_list" %>
