
	<div class="row">
		<div class="col-md-2">
			<strong>Transaction Date:</strong>
		</div>
		<div class="col-md-2">
			<%= @transaction.tx_date%>
		</div>

		<div class="col-md-1">
			<strong>Account:</strong>
		</div>
		<div class="col-md-2">
			<%= @transaction.acct_id_cr%>
		</div>

		<div class="col-md-1">
			<strong>Amount:</strong>
		</div>
		<div class="col-md-2">
			<%= number_to_currency(@transaction.credit) %>
		</div>
	</div>
