<h3>Expenses</h3>

<div class="container">
  <div class="row">
      <div class="col-md-10">
          <%= will_paginate @transactions %>
      </div>
      <div class="col-md-2">
        <%= link_to "View All", expenses_path %>
      </div>
  </div>
</div>

<%= render "expense_list" %>
