<%= form_with(url: user_sessions_path, id: :login_form, local: true) do |form| %>
  <div class="row px-4">
    <table class="table">
      <tbody>
        <tr>
          <td class="bg-light"><strong>Email</strong></td>
          <td><%= form.text_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <td class="bg-light"><strong>Password</strong></td>
          <td><%= form.password_field :password, class: 'form-control' %></td>
        </tr>
        <tr>
          <td></td>
          <td class="text-right">
            <%= form.submit 'Submit', id: :login, class: 'btn btn-primary' %>
          </td>
        </tr>
      </tbody>
    </table>

<% end %>