<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 center-block text-center">
		<h2><%= title if local_assigns[:title] %></h2>
		<div id="<%= local_assigns[:domId] ? domId : "chartStacked" %>" style="width: 100%;height:800px;"></div>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script type="text/javascript">

	// Add the chart to the page
	var chartDom = document.getElementById("<%= local_assigns[:domId] ? domId : "chartStacked" %>");
	var myChart = echarts.init(chartDom);

	var chartOptions = <%= local_assigns[:data] %>;

	chartOptions && myChart.setOption(chartOptions);

</script>
