<script type="text/javascript">
	var multiBarOptions = getEchartsMultibarOptions([]);
	multiBarOptions.series = gon.echart.series;
	multiBarOptions.xAxis = gon.echart.xAxis;
	multiBarOptions.legend = {};
</script>

<h2>All Time Revenue</h2>

<%= render partial: "multiBarChart", locals: {
	domId: "revenue",
	data: "multiBarOptions"
	}
%>