<h3>Category Report</h3>

<%= render(:partial => "stackedAreaChart",
	:locals =>
		{
			:title => "Monthly Expenses",
			:domId => "stackedAreaChart_Expenses",
			:chartDataIndex => 0,
			:average => @average_expense
		}) %>

<%= render(:partial => "multiBarChart",
	:locals =>
		{
			:title => "Monthly Income",
			:domId => "multiBarChart_Income",
			:chartDataIndex => 1,
			:average => @average_income
		}) %>

<%= render(:partial => "stackedAreaChart",
	:locals =>
		{
			:title => "Monthly Savings",
			:domId => "stackedAreaChart_Savings",
			:chartDataIndex => 2,
			:average => @average_savings
		}) %>

<div id="chartContainer">
	<script>

	var cat_totals = <%= j @cats.to_json.html_safe %>;

	for( row in cat_totals )
	{
		var explodedData = explodeData( cat_totals[row] );
		var total = cat_totals[row].total;
		var count = cat_totals[row].count;
		build( explodedData, total, count, row );
	}

	function build( data, total, count, i )
	{
		var chartId = "chart" + i;
		var chartIdRow = chartId + "-row";
		var chartIdStats1 = chartId + "-stats1";
		var chartIdStats2 = chartId + "-stats2";

		$("#chartContainer").append("<h3>"+ explodedData[0]["category_name"] +"</h3>");
		$("#chartContainer").append("<div class='row' id='" + chartIdRow + "'></div>");
		$("#"+chartIdRow).append("<div class='col-md-8' id='" + chartId + "'></div>");
		$("#"+chartIdRow).append("<div class='col-md-2' id='" + chartIdStats1 + "'></div>");
		$("#"+chartIdRow).append("<div class='col-md-2' id='" + chartIdStats2 + "'></div>");

		var svg = dimple.newSvg("#" + chartId , 890, 400);
		var myChart = new dimple.chart(svg, data);
		myChart.setBounds(60, 30, 810, 305);
		myChart.addCategoryAxis("x", ["month", "category_name"]);
		myChart.addMeasureAxis("y", "amount").tickFormat = ".0f";
		myChart.addSeries("data_type", dimple.plot.bar);

		myChart.assignColor("budget", "#4ECDC4");
		myChart.assignColor("actual", "#C44D58");

		myChart.draw();

		buildMid( total, "#"+chartIdStats1, "Total", undefined, 150 );
		buildMid( count, "#"+chartIdStats1, "Tx Count", undefined, 150, " ");
		buildMid( total/data.length, "#"+chartIdStats2, "Monthly", undefined, 150);
		buildMid( total/count, "#"+chartIdStats2, "Tx Average", undefined, 150);
	}

	function explodeData( data )
	{
		var newData = [];
		for( item in data.values )
		{
			var newObject = new Object();
			newObject.category_id = data["cat_id"];
			newObject.category_type = data["cat_type"];
			newObject.category_name = data["cat_name"];
			for( var attrname in data.values[item] )
				{ newObject[attrname] = data.values[item][attrname]}
			newData.push(newObject);
		}
		return newData;
	}

	</script>
</div>
