<h3>Income Statement -</h3>

<%= @transactions.to_json %>

<table class="table table-striped table-condensed">
  <tr>
  <th>Category</th>
  <th>Credit</th>
	<th>Debit</th>
  </tr>

<% @transactions.each do |tx| %>
  <tr>
	<td><%= tx.name %></td>
	<td><%= tx.credit %></td>
	<td><%= tx.debit %></td>
  </tr>
<% end %>
</table>
