<h3>Report for <%= @month.nil? ? "" : (Date::MONTHNAMES[@month] + ',') %> <%= @year %></h3>

<div class="container">

	<div class="row">
		<div class="col-md-5" id="divLeft"></div>
		<div class="col-md-2" id="divMid"></div>
		<div class="col-md-5" id="divRight"></div>
	</div>

</div>

<script>

var category_totals = <%= j @category_groups.to_json.html_safe %>;

var cat_expenses = category_totals['Expense'];
var cat_income = category_totals['Income'];
var totalIncome = category_totals['total_income'];
var totalExpense = category_totals['total_expenses'];

buildPie( cat_expenses, totalExpense, "#divLeft", "Expense", undefined, 500 );

buildPie( cat_income, totalIncome, "#divRight", "Income", undefined, 500 );

buildMid( totalIncome - totalExpense, "#divMid", "Net", undefined, 500 );

</script>

<div id="chartContainer">
	<script type="text/javascript">

	var cat_types = ["Expense","Income","Asset", "Undefined"];
	for( idx in cat_types )
	{ 
		var cat_type = cat_types[idx];
		var cat_type_actuals = explodeData( category_totals[cat_type] );

		build( cat_type_actuals );
	}

	function build( data )
	{
		var svg = dimple.newSvg("#chartContainer", 890, 400);
		var myChart = new dimple.chart(svg, data);
		myChart.setBounds(60, 30, 810, 305);
		myChart.addCategoryAxis("x", ["category_name", "data_type"]);
		myChart.addMeasureAxis("y", "value").tickFormat = ".0f";
		myChart.addSeries("data_type", dimple.plot.bar);

		myChart.assignColor("budget", "#4ECDC4");
		myChart.assignColor("actual", "#C44D58");

		myChart.draw();
	}

	function explodeData( data )
	{
		var newData = [];
		for( row of data )
		{
			newData.push({category_id: row["category_id"],
				category_name: row["category_name"],
				category_type: row["category_type"],
				data_type: "actual",
				value: row["amount"]
			});

			newData.push({category_id: row["category_id"],
				category_name: row["category_name"],
				category_type: row["category_type"],
				data_type: "budget",
				value: row["budget"]
			});
		}
		return newData;
	}
	</script>
</div>