<h3>Report for <%= @month.nil? ? "" : (Date::MONTHNAMES[@month] + ',') %> <%= @year %></h3>

<div class="container">

	<div class="row">
		<div class="col-md-5" id="divLeft"></div>
		<div class="col-md-2" id="divMid"></div>
		<div class="col-md-5" id="divRight"></div>
	</div>

	<div class="row">
		<div class="col-md-6" id="divUndefExpenses"></div>
		<div class="col-md-6" id="divUndefIncome"></div>
	</div>

</div>

<script>

var category_totals = <%= j @category_groups.to_json.html_safe %>;

var cat_expenses = category_totals['Expense'];
var cat_income = category_totals['Income'];
var totalIncome = category_totals['total_income'];
var totalExpense = category_totals['total_expenses'];
var undefinedExpense = category_totals['undefined_expenses'];
var undefinedIncome = category_totals['undefined_income'];

buildMid( undefinedExpense, "#divUndefExpenses", "Undefined Expenses", undefined, 500 );

buildMid( undefinedIncome, "#divUndefIncome", "Undefined Income", undefined, 500 );

buildPie( cat_expenses, totalExpense, "#divLeft", "Expense", undefined, 500 );

buildPie( cat_income, totalIncome, "#divRight", "Income", undefined, 500 );

buildMid( totalIncome - totalExpense, "#divMid", "Net", undefined, 500 );

</script>

<div id="chartContainer">
	<script type="text/javascript">

	</script>
</div>
