<h2>And the content...</h2>

<!-- A transactions sample
[{"category_id":5,"created_at":"2012-12-01T23:01:11Z","credit":null,"debit":null,"details":"","id":4584,"notes":"","tx_date":"2012-12-01T23:01:11Z","tx_hash":"4acddd4302c9318d9188eeeaf68212dd","tx_type":"","updated_at":"2012-12-01T23:01:15Z","user_id":1},
{"category_id":5,"created_at":"2012-12-01T23:00:50Z","credit":null,"debit":null,"details":"","id":4583,"notes":"","tx_date":"2012-12-01T23:00:50Z","tx_hash":"388d659002825ca651c9a9a6fda789af","tx_type":"","updated_at":"2012-12-01T23:00:55Z","user_id":1},
{"category_id":1,"created_at":"2012-12-01T22:59:51Z","credit":null,"debit":null,"details":"","id":4582,"notes":"","tx_date":"2012-12-01T22:59:51Z","tx_hash":null,"tx_type":"","updated_at":"2012-12-01T23:00:03Z","user_id":1}] -->

<%= j @transactions.to_json.html_safe %> 

<script>

var transactions = <%= j @transactions.to_json.html_safe %> ;

var dataset = {
  apples: [53245, 28479, 19697, 24037, 40245],
  oranges: [200, 200, 200, 200, 200]
};

var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category20();

var pie = d3.layout.pie()
    .sort(null);

var arc = d3.svg.arc()
    .innerRadius(radius - 100)
    .outerRadius(radius - 20);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var path = svg.selectAll("path")
    .data(pie(dataset.apples))
  .enter().append("path")
    .attr("fill", function(d, i) { return color(i); })
    .attr("d", arc);

d3.selectAll("input").on("change", change);

var timeout = setTimeout(function() {
  d3.select("input[value=\"oranges\"]").property("checked", true).each(change);
}, 2000);

function change() {
  clearTimeout(timeout);
  path = path.data(pie(dataset[this.value])); // update the data
  path.attr("d", arc); // redraw the arcs
}

</script>