<h3>Spending over Time</h3>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-secondary active">
					<input type="radio" name="options" id="optionWeek" checked> Week
				</label>
				<label class="btn btn-outline-secondary">
					<input type="radio" name="options" id="optionMonth"> Month
				</label>
				<label class="btn btn-outline-secondary">
					<input type="radio" name="options" id="optionYear" > Year
				</label>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="height: 500px;">
			<div class="col-md-2 "></div>
			<div class="col-md-8 text-center" id="chart1">
				<svg></svg>
				<script>

					DAYS = ["MON","TUE","WED","THU","FRI","SAT","SUN"];

					function generateData(){
						data = {key:null, values:null};
						data.key = "count";
						data.color = "#33BBAA"
						dataValues = [];
						var i;
						for (i = 0; i < 7; i++) {
							dataValues.push({x:DAYS[i],y:Math.floor(Math.random() * 10)+1});
						}
						
						data.values = dataValues;

						console.log([data]);

						return [data];
					};

					chartData = generateData();
				
					function loadChart( data ){
						nv.addGraph(function() {
							var chart = nv.models.multiBarChart()
								.width(740)
								.staggerLabels(false)
								.showLegend(false)
								.showControls(false)
								.duration(250)
								.reduceXTicks(false)
								;

							chart.xAxis
								.axisLabel('Date')
								;

							chart.yAxis
								.axisLabel('Count')
								.tickFormat(d3.format('.0f'))
								;
					
							d3.select('#chart1 svg')
								.datum( data )
								.call(chart);
					
							nv.utils.windowResize(chart.update);
							return chart;
						});
					};
					
					loadChart( chartData );
				</script>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

<script>
	// Listen  for radio button events
	$(":radio").on('focus', function (e) {
		// console.log(e.target.id);
		// reload chart based on selected radiobutton here
	});
</script>