<!DOCTYPE html>
<html>
  <head>
    <title>kgcash</title>
      <% #TODO Datepicker stylesheet needs to be local and better. Also better jquery identifier in application.js %>
      <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>
    
  </body>
</html>